* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Tahoma;
  font-size: 16px;
  color: black;
  background-color: #0a0a23;
}
h1,
p {
  font-weight: bold;
  color: #333;
  margin-bottom: 1em;
}
label {
  display: block;
  margin-bottom: 0.5em;
}
input,
textarea,
select {
  padding: 0.5em;
  border: 1px solid gray;
  border-radius: 0.25em;
  width: 100%;
}
button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  width: 100%;
}

header {
  background-color: #1b1b32;
  color: #fff;
  padding: 1em;
  text-align: center;
}
.title {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.description {
  font-size: 1.5em;
  color: #666;
}
form {
  max-width: 600px;
  margin: 2em auto;
  padding: 2em;
  background-color: gray;
  border: 1px solid #ddd;
  border-radius: 0.25em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section {
  margin-bottom: 2em;
}

.input-group {
  margin-bottom: 1em;
}

.select-section {
  margin-bottom: 1em;
}

.radio-group,
.checkbox-group {
  margin-bottom: 1em;
}

.textarea-section {
  margin-bottom: 2em;
}
.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="number"] {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
}

.select-section select {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
}

.textarea-section textarea {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  resize: vertical;
}
fieldset {
  border: none;
  padding: 0;
}

legend {
  font-weight: bold;
  margin-bottom: 0.5em;
}

label {
  cursor: pointer;
}

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
  font-weight: bold;
}

.radio-group label,
.checkbox-group label {
  display: block;
  margin-bottom: 0.5em;
}

.radio-group input[type="radio"],
.checkbox-group input[type="checkbox"] {
  display: inline-block;
  margin-right: 0.5em;
}
